doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='flash')
      ul
        each message in flashMessages
          li= message
    block content
