extends layout

block content
  h1 Sign Up
  if error
    p= error.message
  form(action='/signup', method='post')
    div
      span Username
      input(type='text', name='username', value=username)
    div
      span Password
      input(type='password', name='password')
    div
      span Confirm Password
      input(type='password', name='confirmPassword')
    input(type='submit')
